@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
:root{
    --pink: hsl(322,100%,66%);
    --light-pink: hsl(321, 100%, 78%);

    --light-red: hsl(0,100%,63%);

    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}
body{
    font-family: 'Open Sans','Sans-serif';
    margin: 0 auto;
    font-size: 2em;
}
main{
    padding: 3rem 4rem;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins','Sans-serif';
    font-weight: 700;
    color: var(--very-dark-cyan);
}
h1 {
    font-size: 3vw;
}
h2 {
    font-size: 3.0vh;
}
p {
    font-size: 1vw;
}
button{
    background: none;
    text-decoration: none;
    border: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 1.5rem;
}
nav button{
    background: none;
    text-decoration: none;
    font-weight: bold;
    color: var(--pink);
    border: 1px solid var(--pink);
    box-shadow: 1px 1px 1px var(--pink);
    border-radius: 50px;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    
}
.content-banner{
    padding: 3rem 3rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content-banner p{
    margin: 1rem 15rem;
    font-size: 1.3vw;
}
.btn{
    background: var(--pink);
    color: white;
    font-weight: 700;
    font-size: 1vw;
    width: 20rem;
    padding: 1.3rem 0rem;
    box-shadow: 0px 4px 25px 3px rgba(201, 201, 201, 0.979);
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}
.img-banner{
    width: 85%;
    height: auto;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10% ;
}
.numbers-content{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 80%;
    height: 20rem;
}
.numbers-content h1{
    font-size: 7vw;
}
.numbers-content p{
    text-align: center;
    color: #A7B9C8;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    margin-bottom: 5rem;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 40%;
}
.card-flex{
    flex-direction: row-reverse;
}
.card-content p{
    margin-top: 2rem;
}
.card-photo{
    width: 50%;
}
#last-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    text-align: center;
}
footer{
    background: var(--very-dark-cyan);
    color: white;
    padding: 3rem 8rem;
    
}
footer section{
    display: flex;
    justify-content: space-between;
}
footer section a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 15rem;
    color: white;
}
footer section h2{
    font-size: 3rem;
    color: white;
}
#wave-footer{
    background: url(./images/bg-footer-top-mobile.svg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15rem;
}
.footer-container{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-container div{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.icons-footer{
    width: 1rem;
    margin-right: 1rem;
}
#footer-newsletter{
    margin-top: 1rem;
    width: 25rem;
}
#footer-newsletter h4{
    color: white;
}
#social-footer{
    display: flex;
    justify-content: space-between;
    width: 10rem;
    margin-top: 2rem;
}
.social-icons{
    height: 2rem;
    cursor: pointer;
}
#contact-newsletter{
    display: flex;
    justify-content: space-between;
}
#contact-newsletter input{
    width: 15rem;
    height: 2.5rem;
    border-radius: 5px;
}
#contact-newsletter button{
    width: 8rem;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: var(--light-pink);
}
/* Mobile S */
@media screen and (max-width: 541px){
    main{
        padding: 1rem 1rem;
    }
    h1{
        font-size: 8vw;
    }
    h3{
        font-size: 7vw;
    }
    p{
        font-size: 3.5vw;
    }
    .content-banner{
        margin-top: 2rem;
        padding: 0rem 1rem;
    }
    .content-banner p{
        margin: 0rem 0rem;
        font-size: 4vw;
    }
    .btn{
        font-size: 4.5vw;
    }
    .img-banner{
        width: 100%;
    }
    .numbers-content{
        display: flex;
        flex-direction: column;
        margin: 3rem auto;
        height: 25rem;
    }
    .numbers-content h1{
        font-size: 15vw;
        text-align: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-content{
        width: 80%;
        text-align: center;
    }
    .cards h4{
        margin-top: 2rem;
        font-size: 5vw;
    }
    #wave-footer{
        background: url(./images/bg-footer-top-mobile.svg) no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        background-size: contain;
        height: 5rem;
    }
    footer{
        padding: 2rem 1rem;
    }
    footer section{
        display: flex;
        flex-direction: column-reverse;
    }
    .footer-container{
        margin-top: 2rem;
    }
    .footer-container, #footer-newsletter{
        width: 100%;
    }
    #contact-newsletter{
        display: flex;
        align-self: flex-end;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
    }
    #contact-newsletter input{
        width: 100%;
        margin: 1rem 0rem;
    }
}

/* Tablet */
@media screen and (min-width: 767px) and (max-width:900px){
    main{
        padding: 2rem 4rem;
    } 
    h1{
        font-size: 6vw;
    }
    h3{
        font-size: 5vw;
    }
    p{
        font-size: 2vw;
    }
    .content-banner{
        margin-top: 2rem;
        padding: 0rem 0rem;
    }
    .content-banner p{
        margin: 0rem 3rem;
        font-size: 2.5vw;
    }
    .btn{
        font-size: 2.8vw;
    }
    #wave-footer{
        background: url(./images/bg-footer-top-desktop.svg) no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        background-size: contain;
    }
    footer{
        padding: 2rem 2rem;
    }
}